extends ../layout

block content
  include ../includes/nav

  h1.text-center Arhiva projekata

  .d-flex.justify-content-between.mb-3
    a.btn.btn-secondary(href="/projects") ← Povratak na projekte

  if projects.length > 0
    table.table.table-striped.table-bordered.mt-4
      thead
        tr
          th Naziv
          th Voditelj
          th Članovi
          th Početak
          th Kraj
      tbody
        each project in projects
          tr
            td= project.name
            td= project.author.username
            td
              if project.teamMembers && project.teamMembers.length > 0
                each member in project.teamMembers
                  span.badge.bg-light.text-dark.me-1= member.username
              else
                small.text-muted Nema članova
            td= project.startDate && project.startDate.toLocaleDateString()
            td= project.endDate && project.endDate.toLocaleDateString()
  else
    .alert.alert-info.mt-4 Nema arhiviranih projekata gdje ste bili voditelj ili član.
