extends ../layout

block content
  include ../includes/nav
  
  h1 Uredi projekt: #{project.name}

  form(method="POST" action=`/projects/${project._id}?_method=PUT`)
    .form-group
      label Naziv projekta
      input.form-control(
        type="text" 
        name="name" 
        value=project.name 
        required
      )

    .form-group
      label Opis
      textarea.form-control(name="description")= project.description

    .form-group
      label Cijena
      input.form-control(
        type="number" 
        name="price" 
        value=project.price 
        required
      )

    .form-group
      label Datum početka
      input.form-control(
        type="date" 
        name="startDate" 
        value=project.startDate.toISOString().substr(0,10) 
        required
      )

    .form-group
      label Datum završetka
      input.form-control(
        type="date" 
        name="endDate" 
        value=project.endDate.toISOString().substr(0,10) 
        required
      )

    .form-group
      label Obavljeni poslovi:
      input.form-control(
        type="text"
        name="tasksCompleted"
        value=project.tasksCompleted || ''
      )

    .form-group
      label Članovi tima:
      each user in users
        .form-check
          input.form-check-input(
            type="checkbox" 
            name="teamMembers[]"  
            value=user._id
            checked=user.isSelected 
          )
          label.form-check-label= user.username

    .form-group.mt-4.d-flex.align-items-center
      input.form-check-input.me-2(type="checkbox" name="archived" checked=project.archived)
      label.form-check-label.mb-0 Arhiviraj projekt

    button.btn.btn-primary.mt-4(type="submit") Spremi promjene
