extends ../layout

block content
  include ../includes/nav
  
  h1= project.name
  .card.mb-4
    .card-header Osnovne informacije
    .card-body
      p Opis: #{project.description || 'Nije dostupno'}
      p Cijena: #{project.price || 'Nije dostupno'}
      p Obavljeni poslovi: #{project.tasksCompleted || 'Nema podataka'}
      p Početak: #{project.startDate.toLocaleDateString()}
      p Kraj: #{project.endDate.toLocaleDateString()}
      p Status arhiviranosti:
        if project.archived
          span.badge.badge-light.text-dark Arhivirano
        else
          span.badge.badge-light.text-dark Aktivno

  .card.mb-4
    .card-header Tim
    .card-body
      if project.teamMembers && project.teamMembers.length > 0
        each member in project.teamMembers
          .badge.badge-light.text-dark.mr-2= member.username || 'Nepoznato'
      else
        p.alert.alert-info Nema dodanih članova tima

  a.btn.btn-primary(href="/projects") Povratak na listu projekata
